.email
  color: white

.text-uppercase
  color: #fdfdfd
  font-size: 20px
  padding-top: 10px
  font-family: 'Anton', sans-serif

.contact-us
  font-family: 'Anton', sans-serif
  color: #fdfdfd

footer
  background-color: rgba(34,125,170,1)
  background-size: cover

footer p
  padding-top: 10%
  color: red

.links-head
  color: #fdfdfd
  font-size: 30px
  font-family: 'Anton', sans-serif

.links
  color: white
  padding-right: 30px
  list-style-type: none

.footer-copyright
  padding-top: 7%
  color: #fdfdfd
