#main-section
  background: rgba(34,125,170,1)
  display: table
  width: 100%
  height: 700px
  position: relative

#main-section > .header
  display: table-cell
  vertical-align: middle
  padding: 10px 100px
  text-align: center

.header
  padding: 100px 100px
  display: block
  overflow: auto
  color: white

#under
  border-bottom: 1px solid white
  color: white
  opacity: 0.9
  border-width: thick

#fade
  opacity: 0.8


#focus-line
  font-family: 'Anton', sans-serif
  font-size: 5em
  color: white
  width: 100%


#magic
  font-size: 14px
  color: #aac7d9
  margin-bottom: 10px
  letter-spacing: 0.5px
  padding: 10px 10px
  font-family: 'Indie Flower', cursive


#focus-point
  font-size: 30px
  color: #deeef5
  letter-spacing: 1px
  font-family: 'Acme', sans-serif


#btnred
  font-family: 'Acme', sans-serif

.intro
  position: absolute
  width: 50%
  top: 40px
  left: 100px
  color: white