// tablets
@media (min-width: 768px) and (max-width: 991px)
  #focus-line
    margin-top: 10%
  #team-section
    min-height: 110vh

// tablet / desktop
@media (min-width: 992px) and (max-width: 1199px)
  #focus-line
    margin-top: 10%
  #team-section-members
    margin-top: 13%

// large devices
@media screen and (min-width: 1200px)  
  #header-image
    height: 250px
    width: 250px
  
  #focus-line,#magic,#focus-point
    margin-top: 5%

  #team-section-members
    margin-top: 13%

  .member-img
    opacity: 0.9

  .member-img:hover
    opacity: 1

  .project-img
    transition: transform .2s
  
  .project-img:hover
    transform: scale(1.25)

  .fade
    opacity: 0.2
