.underline
  border-bottom: 1px solid $color1
  border-width: thick

// PROJECTS SECTION
#project-section
  text-align: center
  width: 100%
  min-height: 100vh
  padding-bottom: 50px

#project-heading
  font-family: 'Raleway', sans-serif
  color: rgba(34,125,170,1)
  margin: 0
  padding: 40px

#project-section h3
  color: black

.project-img
  height: 200px
  width: 250px
  border: 1px solid black
  border-style: inset
  border-radius: 30px
  margin-top: 50px
  cursor: pointer

.caption
  text-align: center
  color: black
  font-family: 'Indie Flower', cursive

.col-md-6
  margin: auto

#container-inner-div
  display: flex
  flex-wrap: wrap

// TEAM SECTION
#team-heading
  color: white

#team-underline
  border-bottom: 1px solid lime
  border-width: thick

#team-section
  background: rgb(46, 48, 51)
  padding: 20px 5%
  text-align: center
  width: 100%
  min-height: 101vh

#team-section-members
  margin-top: 6%

.member-img
  height: 180px
  width: 180px
  border-radius: 15%
  border: 1px solid black
  border-style: inset
  margin-top: 10%
  opacity: 1

.fade
  opacity: 0.2

#team-section h3
  box-sizing: border-box
  text-align: center
  font-size: 40px
  font-family: 'Indie Flower'
  color: white

#team-section p
  font-size: 2em
  font-family: 'Indie Flower', cursive
  color: white

.fab:hover,.fas:hover
  opacity: 0.8

// JOIN SECTION
#join-section
  text-align: center
  min-height: 80vh

#join-heading
  padding-top: 60px

#join-underline
  border-bottom: 1px solid lime
  border-width: thick

#join-section-cards
  padding: 5px

.join-section-card
  display: block
  width: 85%
  margin: auto
  margin-top: 30px
  margin-bottom: 30px
  border-radius: 20px
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)

.card-img
  width: 100%
  height: 100%
  border-top-left-radius: 20px
  border-top-right-radius: 20px

.card-img-div
  padding: 20px

.card-icon
  padding: 0
  color: rgba(34,125,170,1)

.card-content
  border-bottom-left-radius: 20px
  border-bottom-right-radius: 20px
  padding: 10px

.card-button
  padding: 10px
  width: 90%
  margin: 10px
  border-radius: 10px
  border: 0
