$back: rgba(34,125,170,1)

.underline
  border-bottom: 1px solid rgba(34,125,170,1) 
  border-width: thick

// PROJECTS SECTION
#project-section
  text-align: center
  width: 100%
  min-height: 100vh
  background: white

#project-heading
  font-family: 'Raleway', sans-serif
  color: rgba(34,125,170,1)

#project-section h3
  color: black

.project-img
  height: 200px
  width: 250px
  border: 1px solid black
  border-style: inset
  border-radius: 30px
  margin-top: 50px
  cursor: pointer

.caption
  text-align: center
  color: black
  font-family: 'Indie Flower', cursive

.col-md-6
  margin: auto

#container-inner-div
  display: flex
  flex-wrap: wrap

// TEAM SECTION
#team-heading
  color: white

#team-underline
  border-bottom: 1px solid lime
  border-width: thick

#team-section
  background: rgb(46, 48, 51)
  padding: 20px 5%
  text-align: center
  width: 100%
  min-height: 101vh

#team-section-members
  margin-top: 6%

.member-img
  height: 180px
  width: 180px
  border-radius: 10%
  border: 1px solid black
  border-style: inset
  margin-top: 10%
  opacity: 0.9

.member-img:hover
  opacity: 1

.fade
  opacity: 0.2

#team-section h3
  box-sizing: border-box
  text-align: center
  font-size: 40px
  font-family: 'Indie Flower'
  color: white

#team-section p
  font-size: 2em
  font-family: 'Indie Flower', cursive
  color: white

.fa:hover
  opacity: 0.8