html{
  cursor: crosshair;
}
body
{
  background: url('../images/image1.jpg');
  background-attachment: fixed;
  background-size: auto;
}
#h1-mid
{
text-align: center;
}
#p-mid
{
  text-align: center;
}

.secton1
{
  background-color: white;
  text-align: center;
  margin:  0 auto;
  padding: 40px 10px;
  font-size: 1.5em;
  color: white;
font-family: 'Anton', sans-serif;
  font-style: normal;
  display: table;
  width: 100%;
  height: 700px;
  padding: 100px 100px;
    display: block;
    overflow: auto;
}
.secton1 p
{
  display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: 'EB Garamond', serif;
    text-align: center;
    color: black;
}
h3
{
  font-size: 2em;
}

.section2
{
  text-align: center;
  display: table;
  width: 100%;
  height: 700px;
  position: relative;
  padding: 10px 100px;
  margin-bottom: 10em;
  background: white;
}

.section2 h3
{
  color: black;
  text-align:center;
  margin: 0 auto;
  padding: 50px 30px;
  }
.section2 h1
{
  font-family: 'PT Sans', sans-serif;
  text-align: center;

}
.section2 img
{
  border: 1px solid black;
  border-style: inset;
  border-radius: 10%;
  margin-top: 10em;

}
.caption{
    text-align: center;
    color: black;
}
#cap{
font-family: 'Indie Flower', cursive;}

.section3{
  background: rgb(46, 48, 51);
  align-items: center;
  padding: 50px 5%;
  text-align: center;
  display: table;
  width: 100%;
  height: 700px;
  position: relative;

}
.section3 img
{
  width: 70%;
  border-radius: 10%;
  border: 1px solid black;
  border-style: inset;
  margin-top: 10em;
}
.section3 h3
{
  box-sizing: border-box;
  text-align: center;
  font-size: 40px;
  font-family: 'Indie Flower';
  color: white;
}
.section3 h1
{
  text-align: center;

}
.section3 p
{
  font-size: 2em;
  font-family: 'Indie Flower', cursive;
  color: white;
}
#color-hr
{
  background: grey;
}
i{
  padding: 16px 16px;
  color: white;
}
.jumbotron{
  text-align: center;
  margin-top: 50px;
}

footer{
  background: rgba(34,125,170,1);
  background-size: cover;
}
.text-uppercase
{
  color: #fdfdfd;
  font-size: 20px;
  padding-top: 10px;
}

.contact-us
{
  color:#fdfdfd;
}

footer p
{
  padding-top: 10%;
  color: #fdfdf;
}

.email{
  color: white;
}
.links{
  color:#fdfdfd;
  font-size: 30px;
}

.footer-copyright
{
  padding-top: 7%;
  color: #fdfdfd;
}

.navbar-fixed-top{
  padding-top: 10px;
}
.intro{
  position: absolute;
    width: 50%;
    top: 40px;
    left: 100px;
    color: white;
}
.main-section
{
  background: rgba(34,125,170,1);
  display: table;
  width: 100%;
  height: 700px;
  position: relative;
}
#under
{
  border-bottom: 1px solid white;
  color: white;
  opacity: 0.9;
  border-width: thick;
}
.main-section > .header
{
  display: table-cell;
    vertical-align: middle;
    padding: 10px 100px;
    text-align: center;
}
.header{
  padding: 100px 100px;
    display: block;
    overflow: auto;
    color: white;
}
#focus-line
{
  font-family: 'Anton', sans-serif;
  font-size: 5em;
  color: white;
  width: 100%;
}
#focus-point
{
  font-size: 30px;
  color: #deeef5;
  letter-spacing: 1px;
  font-family: 'Acme', sans-serif;
}
#magic
{
  font-size: 14px;
  color: #aac7d9;
  margin-bottom: 10px;
  letter-spacing: 0.5px;
  padding: 10px 10px;
  font-family: 'Indie Flower', cursive;
}
#fade{
  opacity: 0.8;
}

#creator
{
  text-align: left;
  font-family: 'Raleway', sans-serif;
  color: white;
}
#about-creator
{
  border-bottom: 1px solid  lime;
  border-width: thick;
}
.content
{
  text-align: center;
  position: relative;
  margin: 0;

}
#authors
{
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  opacity: 0.8;
  color: black;

}
#author-description
{
  margin-top: 1.2em;
}
#author-line
{
  border-bottom: 1px solid red;
  border-width: thick;
}
}
#btnred
{
font-family: 'Acme', sans-serif;
}
#fafa
{
cursor: pointer;
}
#creator-main
{
  text-align: left;
  font-family: 'Raleway', sans-serif;
  color:rgba(34,125,170,1) ;
}

#about-creator-main
{
  border-bottom: 1px solid rgba(34,125,170,1) ;
  border-width: thick;
}

.education
{
  background: rgba(34,125,170,1);
  display: table;
  width: 100%;
  height: 420px;
  position: relative;
}

.education-info
{
  text-align: center;
  color: white;
  margin-top: 10em;
}

#btech
{
  font-family: 'Acme', sans-serif;
}
