body
{
  background: url('../images/back2.jpg');
  background-attachment: fixed;
  background-size: auto;
}
#h1-mid
{
text-align: center;
}
#p-mid
{
  text-align: center;
}

.secton1
{
  background: #2193b0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  margin:  0 auto;
  padding: 40px 10px;
  font-size: 1.5em;
  font-style: normal;
}
h3
{
  font-size: 2em;
}
.section2
{
  text-align: center;
  padding: 16px 16px;
}

.section2 h3
{
  color: black;
  text-align:center;
  margin: 0 auto;
  padding: 50px 30px;
  }
.section2 h1
{
  font-family: 'PT Sans', sans-serif;
  text-align: center;

}
.section2 img
{
  border: 1px solid black;
  border-style: inset;
  border-radius: 10%;
}
.caption
{
    text-align: center;
}

.section3{
  align-items: center;
  padding: 50px 5%;
  text-align: center;

}
.section3 img
{
  width: 70%;
  border-radius: 10%;
  border: 1px solid black;
  border-style: inset;
}
.section3 h2
{
  box-sizing: border-box;
  text-align: center;
  font-size: 40px;
}
.section3 h1
{
  text-align: center;
  font-family: fantasy;
}
.section3 p
{
  font-size: 2em;
}
#color-hr
{
  background: grey;
}
i{
  padding: 16px 16px;
}
.jumbotron{
  text-align: center;
  margin-top: 50px;
}

footer{
  background: black;
  background-size: cover;
}
.text-uppercase
{
  color: #fdfdfd;
  font-size: 20px;
  padding-top: 10px;
}

.contact-us
{
  color:#fdfdfd;
}

footer p
{
  padding-top: 10%;
  color: #fdfdfd;
}

.email{
  color: white;
}
.links{
  color:#fdfdfd;
  font-size: 30px;
}

.footer-copyright
{
  padding-top: 7%;
  color: #fdfdfd;
}

.navbar-fixed-top{
  height: 80px;
  font-size: 30px;
  padding-top: 10px;
}
.navbar-brand{
  font-size: 30px;
}
