h3 {
  font-size: 2em; }

i {
  padding: 16px 16px;
  color: white; }

#main-section {
  background: #227daa;
  display: table;
  width: 100%;
  height: 700px;
  position: relative; }

#main-section > .header {
  display: table-cell;
  vertical-align: middle;
  padding: 10px 100px;
  text-align: center; }

.header {
  padding: 100px 100px;
  display: block;
  overflow: auto;
  color: white; }

#under {
  border-bottom: 1px solid white;
  color: white;
  opacity: 0.9;
  border-width: thick; }

#fade {
  opacity: 0.8; }

#focus-line {
  font-family: "Anton", sans-serif;
  font-size: 5em;
  color: white;
  width: 100%; }

#magic {
  font-size: 14px;
  color: #aac7d9;
  margin-bottom: 10px;
  letter-spacing: 0.5px;
  padding: 10px 10px;
  font-family: "Indie Flower", cursive; }

#focus-point {
  font-size: 30px;
  color: #deeef5;
  letter-spacing: 1px;
  font-family: "Acme", sans-serif; }

#btnred {
  font-family: "Acme", sans-serif; }

.intro {
  position: absolute;
  width: 50%;
  top: 40px;
  left: 100px;
  color: white; }

.secton1 {
  background-color: white;
  text-align: center;
  margin: 0 auto;
  font-size: 1.5em;
  color: white;
  font-family: "Anton", sans-serif;
  font-style: normal;
  display: table;
  width: 100%;
  height: 700px;
  padding: 100px 100px;
  display: block;
  overflow: auto; }

.secton1 p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: "EB Garamond", serif;
  text-align: center;
  color: black; }

#creator {
  text-align: left;
  font-family: "Raleway", sans-serif;
  color: white; }

#about-creator {
  border-bottom: 1px solid lime;
  border-width: thick; }

#creator-main {
  text-align: left;
  font-family: "Raleway", sans-serif;
  color: #227daa; }

#about-creator-main {
  border-bottom: 1px solid #227daa;
  border-width: thick; }

.content {
  text-align: center;
  position: relative;
  margin: 0; }

#authors {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  opacity: 0.8;
  color: black; }

#author-line {
  border-bottom: 1px solid red;
  border-width: thick; }

#author-description {
  margin-top: 5em;
  overflow: hidden; }

.education {
  background: #227daa;
  display: table;
  width: 100%;
  height: 420px;
  position: relative; }

.education-info {
  text-align: center;
  color: white;
  margin-top: 12em; }

#btech {
  font-family: "Acme", sans-serif; }

.section2 {
  text-align: center;
  display: table;
  width: 100%;
  height: 700px;
  position: relative;
  padding: 10px 100px;
  background: white; }

.section2 h3 {
  color: black;
  margin: 0 auto;
  padding: 50px 30px; }

.section2 h1 {
  font-family: "PT Sans", sans-serif;
  text-align: center; }

.section2 img {
  border: 1px solid black;
  border-style: inset;
  border-radius: 10%;
  margin-top: 10em; }

.caption {
  text-align: center;
  color: black; }

#cap {
  font-family: "Indie Flower", cursive; }

#fafa {
  cursor: pointer; }

.section3 {
  background: #2e3033;
  align-items: center;
  padding: 50px 5%;
  text-align: center;
  display: table;
  width: 100%;
  height: 700px;
  position: relative; }

.section3 img {
  width: 70%;
  border-radius: 10%;
  border: 1px solid black;
  border-style: inset;
  margin-top: 10em; }

.section3 h3 {
  box-sizing: border-box;
  text-align: center;
  font-size: 40px;
  font-family: "Indie Flower";
  color: white; }

.section3 h1 {
  text-align: center; }

.section3 p {
  font-size: 2em;
  font-family: "Indie Flower", cursive;
  color: white; }

.row {
  max-width: 100%; }

.email {
  color: white; }

.text-uppercase {
  color: #fdfdfd;
  font-size: 20px;
  padding-top: 10px;
  font-family: "Anton", sans-serif; }

.contact-us {
  font-family: "Anton", sans-serif;
  color: #fdfdfd; }

footer {
  background-color: #227daa;
  background-size: cover; }

footer p {
  padding-top: 10%;
  color: red; }

.links-head {
  color: #fdfdfd;
  font-size: 30px;
  font-family: "Anton", sans-serif; }

.links {
  color: white;
  padding-right: 30px;
  list-style-type: none; }

.footer-copyright {
  padding-top: 7%;
  color: #fdfdfd; }

@media(max-width: 500px) {
  .header {
    width: 565px; }

  .secton1 {
    width: 565px; }

  .education {
    width: 565px; }

  .section2 {
    width: 565px; }

  .section3 {
    width: 565px; }

  .row {
    padding-left: 35px; }

  #row1 {
    width: 565px;
    background-color: #227daa; } }

/*# sourceMappingURL=style.css.map */
