* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth; }

h3 {
  font-size: 2em; }

i {
  padding: 16px 16px;
  color: white; }

#main-section {
  background-color: #227daa;
  display: block;
  width: 100%;
  min-height: 100vh; }

#header-image-div {
  padding-top: 50px;
  text-align: center; }

#header-image {
  height: 200px;
  width: 200px;
  border-radius: 150px;
  z-index: 1;
  opacity: 0.98; }

#header-image:hover {
  opacity: 1; }

#header-info {
  text-align: center;
  margin-top: 0%;
  color: white;
  width: 100%; }

#focus-line {
  margin-top: 15%;
  font-family: "Anton", sans-serif;
  font-size: 4.5em;
  color: #2e3033;
  color: white;
  width: 100%; }

#magic {
  margin-top: 10%;
  font-size: 25px;
  margin-bottom: 10px;
  letter-spacing: 0.5px;
  font-family: "Indie Flower", cursive; }

#focus-point {
  margin-top: 10%;
  font-size: 25px;
  color: #deeef5;
  letter-spacing: 1px;
  font-family: "Acme", sans-serif; }

#btnred {
  margin-top: 5%;
  margin-bottom: 10%;
  font-family: "Acme", sans-serif;
  font-size: 20px; }

.under {
  border-bottom: 1px solid white;
  color: white;
  opacity: 0.9;
  border-width: thick; }

#fade {
  opacity: 0.8; }

.bold {
  font-weight: bold; }

#navigation-icon {
  position: fixed;
  color: #227daa;
  z-index: 2; }

#topNavigation {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #2e3033;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center; }

.nav-links {
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
  padding: 30px; }

.nav-links:link,
.nav-links:active,
.nav-links:visited {
  text-decoration: none; }

.nav-links:hover {
  opacity: 0.8;
  color: white; }

#closebtn {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 10px;
  font-size: 36px;
  color: white; }

#closebtn:hover {
  text-decoration: none; }

.underline {
  border-bottom: 1px solid #227daa;
  border-width: thick; }

#project-section {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 50px; }

#project-heading {
  font-family: "Raleway", sans-serif;
  color: #227daa;
  margin: 0;
  padding: 40px; }

#project-section h3 {
  color: black; }

.project-img {
  height: 200px;
  width: 250px;
  border: 1px solid black;
  border-style: inset;
  border-radius: 30px;
  margin-top: 50px;
  cursor: pointer; }

.caption {
  text-align: center;
  color: black;
  font-family: "Indie Flower", cursive; }

.col-md-6 {
  margin: auto; }

#container-inner-div {
  display: flex;
  flex-wrap: wrap; }

#team-heading {
  color: white; }

#team-underline {
  border-bottom: 1px solid lime;
  border-width: thick; }

#team-section {
  background: #2e3033;
  padding: 20px 5%;
  text-align: center;
  width: 100%;
  min-height: 101vh; }

#team-section-members {
  margin-top: 6%; }

.member-img {
  height: 180px;
  width: 180px;
  border-radius: 10%;
  border: 1px solid black;
  border-style: inset;
  margin-top: 10%;
  opacity: 1; }

.fade {
  opacity: 0.2; }

#team-section h3 {
  box-sizing: border-box;
  text-align: center;
  font-size: 40px;
  font-family: "Indie Flower";
  color: white; }

#team-section p {
  font-size: 2em;
  font-family: "Indie Flower", cursive;
  color: white; }

.fab:hover {
  opacity: 0.8; }

#join-section {
  text-align: center; }

#join-heading {
  padding-top: 60px; }

#join-underline {
  border-bottom: 1px solid lime;
  border-width: thick; }

#join-section-cards {
  padding: 5px; }

.join-section-card {
  display: block;
  width: 85%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.card-img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px; }

.card-img-div {
  padding: 20px; }

.card-icon {
  padding: 0;
  color: #227daa; }

.card-content {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 10px; }

.card-button {
  padding: 10px;
  width: 90%;
  margin: 10px;
  border-radius: 10px;
  border: 0; }

footer {
  background-color: #227daa;
  min-height: 30vh;
  padding: 10px; }

.email,
.email:hover,
.email:active,
.email:link {
  color: white; }

.text-uppercase {
  color: #fdfdfd;
  font-size: 25px;
  padding-top: 20px;
  font-family: "Anton", sans-serif; }

.contact-us {
  font-family: "Anton", sans-serif;
  color: #fdfdfd; }

.footer-copyright {
  padding-top: 50px;
  color: #fdfdfd; }

@media (min-width: 768px) and (max-width: 991px) {
  #focus-line {
    margin-top: 10%; }

  #team-section {
    min-height: 110vh; } }
@media (min-width: 992px) and (max-width: 1199px) {
  #focus-line {
    margin-top: 10%; }

  #team-section-members {
    margin-top: 13%; } }
@media screen and (min-width: 1200px) {
  #header-image {
    height: 250px;
    width: 250px; }

  #focus-line, #magic, #focus-point {
    margin-top: 5%; }

  #team-section-members {
    margin-top: 13%; }

  .member-img {
    opacity: 0.9; }

  .member-img:hover {
    opacity: 1; }

  .project-img {
    transition: transform 0.2s; }

  .project-img:hover {
    transform: scale(1.25); }

  .fade {
    opacity: 0.2; } }

/*# sourceMappingURL=style.css.map */
